.videoBorder
{
    height: 40%;
    width: 100%;
    display: block;
}

.Video
{
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    object-fit: cover;
}

#word
{
    color: red;
}